.WelcomeToAznak{
    width: 100%;
    height: 70vh;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

.WelcomeText , .WelcomeImage{
    width:38%;
    margin: 20px;
    height: 50vh;
    padding: 3%;
} 

.WelcomeText div ul li:nth-child(1)  {
    list-style-type: none;
    color: rgb(243, 243, 10);
    font-size: 1.5rem;
} 

.WelcomeText div ul li:nth-child(2)  {
    list-style-type: none;
    color: #efeff1;
    font-size: 2.5rem;
    
} 

.WelcomeTextDiv::after {
    content: " ";
    width: 0%;
    transition: .5s;
    height: .5vh;
    margin-top: 15px;
    border-radius: 2px;
    background-color: rgb(243, 243, 10);
    position: absolute;
}

.WelcomeTextDiv.active::after {
    width: 8%;
}
.Paraghrapghs{
    margin-top: 40px;
    color: #efeff1;
    font-size: 1.1rem;
    line-height: 25px;
}
.Paraghrapghs p {
 margin-top: 10px;
} 
.Paraghrapghs p.ActiveP {
color: rgb(226, 226, 14);
}
.Paraghrapghs:nth-child(1){
    color: rgb(243, 243, 10);
}
.WelcomeImage .Image{
    width: 100%;
    height: 80%;
    background-size: cover;

}

.ImageSlide{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.Images{
    background-size: cover;
    background-position: center;
    width: 32%;
    height: 100px;
    cursor: pointer;
    transition: .5s;
} 

.Images:hover
{
   transform: scale(.9) ; 
   border: 3px rgb(243, 243, 10) solid;
} 


.MemberShip {
   width: 100%;
   height: 70vh;
   background-color: #28282B;

}

.MembreTitle{
    text-align: center;
    height: 10vh;
    padding-top: 30px;
    color: #efeff1;
}

.MembreTitle p{
    color: rgb(226, 226, 14);
}
.Cards{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.Cards > div{
    width: 18%;
    height: 70%;
    border: 3px solid #515153;
    margin: 0 20px;
    transition: .5s;
    
}

.Cards > div:hover{
    border: 1px solid rgb(226, 226, 14); 
    border-radius: 10px;
    transform : scale(1.1);
}

.Price{
     width: 100%;
     height: 30%;
     text-align: center;
     padding: 30px;
     color: #efeff1;
}
.Time{
  width: 100%;
  height: 10% ;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #efeff1;

} 

.Types{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.Types ul li {
   list-style-type: none;
   height: 5vh;   
} 



.Types ul {
    margin-top: 10px;
    color: #efeff1;
}